.calendarpage__container {
  margin: 2.3em auto 0 !important;
  width: 100%;
  display: flex;

  &_item {
    &:first-of-type {
      max-width: 55%;
      width: 100%;
    }

    &:last-of-type {
      max-width: 45%;
      width: 100%;
      background: $gray;
      border: 1px solid $dark-gray;
      padding: 4.3em 2.4em 0;
    }
  }
}
