.breadcrumb {
  display: flex;
  list-style-type: none;
  gap: 0 0.5em;
  margin-bottom: 2em;

  &__item {
    color: $dark-gray;
    &:last-of-type {
      color: $orange;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__separator {
    display: flex;
    align-items: center;

    &_last {
      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
}
