.color__container {
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  background: $light-orange;
  border-radius: 10px;
  padding: 0.25em 0.75em;
  cursor: pointer;
  svg {
    margin-right: 0.6em;
  }

  &_text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $black;
  }
}
