.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;

  &_item {
    display: flex;

    button {
      cursor: pointer;
      width: 40px;
      line-height: 54px;
      background: #f0f0f0;
      box-shadow: inset 0px -1px 0px #cfd4d9, inset 0px 1px 0px #cfd4d9,
        inset -1px 0px 0px #cfd4d9;
      border-radius: 0px 4px 4px 0px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #212529;

    margin-bottom: 0.6em;
  }
}

input {
  width: 100%;
  height: 54px;
  background-color: $white;
  border: 1px solid #cfd4d9;
  box-shadow: 0px 0px 0px #cbdafc;
  border-radius: 4px;
  padding: 1em;
  outline: none;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: $black;

  &[type='radio'] {
    appearance: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $white;

    &:checked {
      border: 2px solid $orange;
    }
  }

  &::placeholder {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: $black;
  }
}
