$black: #222222;
$orange: #ff7a45;
$gray: #f0f0f0;
$white: #ffffff;
$dark-gray: #96999c;
$light-orange: #fff2e8;

@font-face {
  font-family: 'Soyuz Grotesk';
  src: url('/assets/fonts/grotesk/Soyuz Grotesk Bold.otf') format('opentype');
}
